<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <div th:fragment="shopContent">
    <div class="tab-container">
      <!-- タブメニュー -->
      <div class="tab-menu">
        <button class="tab-button active" onclick="openTab(event, 'tab1')" id="shopItemButton">アイテム</button>
        <button class="tab-button" onclick="openTab(event, 'tab2')" id="weaponItemButton">武器</button>
        <button class="tab-button" onclick="openTab(event, 'tab3')" id="serviceItemButton">サービス</button>
      </div>
      <div id="sort" class="fixedContent">
		<div class="text" id="shopInfo"></div>
		<div id="narabikae" class = "text">並び替え></div>
		<div id="nextFloor" class="text">次の階へ行く</div>
        <select id="dropDown" name="dropdown">
          <option value="option1">種類順</option>
          <option value="option2">値段順</option>
          <option value="option3">名前順</option>
        </select>
      </div>
      <!-- タブコンテンツ -->
      <div id="tab1" class="tab-content active">
        <ul class="text list scroll-container" id="shopItemList">
        </ul>
      </div>
      <div id="tab2" class="tab-content">
        <ul class="text list" id="shopWeaponList">
        </ul>
      </div>
      <div id="tab3" class="tab-content">
        <ul class="text list" id="shopServiceList">
        </ul>
	  </div>
    </div>
  </div>
</body>
</html>