@charset "UTF-8";
#log{
	visibility: hidden;
	position: absolute;
	width: 640px;
	height: 480px;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
}
#closeLog{
	font-size: 20px;
	color:yellow;
}

.logTurn{
	color:yellow;
}

.logText{
	position: absolute;
	width: max-content;
	/*
	flex-wrap: wrap;
	display: flex;
	gap: 0px; /* 要素間の間隔 */
}