<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div th:fragment="changeContent">
      <button id = "rollBackButton" type="button">ロールバック</button>
	  <div id = "historyNumber"></div>
            <table id="changeTable" class = "dataBaseTable">
              <thead>
                <tr>
                  <th>タイプ</th>
                  <th>テーブル名</th>
                  <th>ID</th>
                  <th>カラム名</th>
                  <th>変更前</th>
                  <th>変更後</th>
                  <th>変更時刻</th>
                </tr>
              </thead>
			  <tbody id = "changeTbody"></tbody>
            </table>
	</div>
  </body>
</html>