<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div th:fragment="dataBaseContent">
      <button id = "upButton" type="button">▲</button>
      <button id = "downButton" type="button">▼</button>
      <button id = "deleteButton" type="button">削除</button>
      <button id = "addButton" type="button">追加</button>
      <button id = "downloadSQL" type="button">SQLファイルの出力</button>
      <div class="dataBase-tab-container">
        <div class="dataBase-tab-menu">
          <button class="dataBase-tab-button active" onclick="dataBaseOpenTab('monsterDataBase')">モンスター</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('actionDataBase')">行動</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('conditionDataBase')">状態</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('itemDataBase')">アイテム</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('weaponDataBase')">武器</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('serviceDataBase')">サービス</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerMonsterDataBase')">初級モンスター</button>
		  <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerShopFloorDataBase')">初級店階</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerItemDataBase')">初級アイテム</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerWeaponDataBase')">初級武器</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerServiceDataBase')">初級サービス</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('noviceMonsterDataBase')">中級モンスター</button>
		  <button class="dataBase-tab-button" onclick="dataBaseOpenTab('noviceShopFloorDataBase')">中級店階</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('noviceItemDataBase')">中級アイテム</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('noviceWeaponDataBase')">中級武器</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('noviceServiceDataBase')">中級サービス</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('expertMonsterDataBase')">上級モンスター</button>
		  <button class="dataBase-tab-button" onclick="dataBaseOpenTab('expertShopFloorDataBase')">上級店階</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('expertItemDataBase')">上級アイテム</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('expertWeaponDataBase')">上級武器</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('expertServiceDataBase')">上級サービス</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('shortageMonsterDataBase')">品薄モンスター</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('shortageShopFloorDataBase')">品薄店階</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('shortageItemDataBase')">品薄アイテム</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('shortageWeaponDataBase')">品薄武器</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('shortageServiceDataBase')">品薄サービス</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('inflationMonsterDataBase')">インフレモンスター</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('inflationMonsterDataBase')">インフレ店階</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('inflationrMonsterDataBase')">インフレアイテム</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('inflationrMonsterDataBase')">インフレ武器</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('inflationMonsterDataBase')">インフレサービス</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerMonsterDataBase')">便利モンスター</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerMonsterDataBase')">便利アイテム</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerMonsterDataBase')">便利武器</button>
          <button class="dataBase-tab-button" onclick="dataBaseOpenTab('beginnerMonsterDataBase')">便利サービス</button>
        </div>
        <div class="dataBase-tab-content">
          <div id="monsterDataBase" class="dataBase-content active">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>HP</th>
                  <th>オーバーHP</th>
                  <th>攻撃力</th>
                  <th>経験値</th>
                  <th>お金</th>
                  <th>ターン</th>
                  <th>テキスト</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="actionDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>攻撃bool</th>
                  <th>テキスト</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="conditionDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>重ねがけbool</th>
                  <th>テキスト</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="itemDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>フリガナ</th>
                  <th style="white-space:nowrap;">値段</th>
                  <th>テキスト</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="weaponDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>フリガナ</th>
                  <th style="white-space:nowrap;">値段</th>
                  <th style="white-space:nowrap;">攻撃力</th>
                  <th>テキスト</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="serviceDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th style="white-space:nowrap;">値段</th>
                  <th>テキスト</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="beginnerMonsterDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>階数</th>
                  <th>モンスターID</th>
                  <th>レベル</th>
                </tr>
              </thead>
            </table>
          </div>
		  <div id="beginnerShopFloorDataBase" class="dataBase-content">
		     <table class="dataBaseTable">
		       <thead>
		         <tr>
		           <th>ID</th>
		           <th>階数</th>
		         </tr>
		       </thead>
		     </table>
		   </div>
          <div id="beginnerItemDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>アイテムID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="beginnerWeaponDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>武器ID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="beginnerServiceDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>サービスID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="noviceMonsterDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>階数</th>
                  <th>モンスターID</th>
                  <th>レベル</th>
                </tr>
              </thead>
            </table>
          </div>
		  <div id="noviceShopFloorDataBase" class="dataBase-content">
		     <table class="dataBaseTable">
		       <thead>
		         <tr>
		           <th>ID</th>
		           <th>階数</th>
		         </tr>
		       </thead>
		     </table>
		   </div>
          <div id="noviceItemDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>アイテムID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="noviceWeaponDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>武器ID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="noviceServiceDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>サービスID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="expertMonsterDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>階数</th>
                  <th>モンスターID</th>
                  <th>レベル</th>
                </tr>
              </thead>
            </table>
          </div>
		  <div id="expertShopFloorDataBase" class="dataBase-content">
		     <table class="dataBaseTable">
		       <thead>
		         <tr>
		           <th>ID</th>
		           <th>階数</th>
		         </tr>
		       </thead>
		     </table>
		   </div>
          <div id="expertItemDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>アイテムID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="expertWeaponDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>武器ID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="expertServiceDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>サービスID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="shortageMonsterDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>階数</th>
                  <th>モンスターID</th>
                  <th>レベル</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="shortageShopFloorDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>階数</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="shortageItemDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>アイテムID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="shortageWeaponDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>武器ID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="shortageServiceDataBase" class="dataBase-content">
            <table class="dataBaseTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>サービスID</th>
                  <th>在庫</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>