<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>TKHRの冒険</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/infoPage.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/shop.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/condition.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/log.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/dataBase.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/debug.css}"/>
</head>

<body>
  <h1>TKHRの冒険</h1>
  <img class="image" id="title" th:src="@{/images/Title.png}">
  
   <select id ="dungeonSelect"></select>
   <button id="goSpecialDungeonButton" onclick="goSpecialDungeon()">行く</button>
  <div id="titlebutton">
    <!--初級ボタン-->
    <input type="image" class="difficultyButton image" id="beginner" th:src="${beginner_Button}">
    <!--中級ボタン-->
    <input type="image" class="difficultyButton image" id="novice" th:src="${novice_Button}">
    <!--上級ボタン-->
    <input type="image" class="difficultyButton image" id="expert" th:src="${expert_Button}">
  </div>
	
  <img class="image battleElement" id="battle" th:src="@{/images/Battle.png}">
  <!--左側データ-->
  <div class="text battleElement" id="difficulty"></div>
  <div class="text battleElement" id="floor"></div>
  <div class="text battleElement" id="sumTurn"></div>
  <div class="text battleElement" id="sumEXP"></div>
  <ul class="text list battleElement" id ="monsterNameList"></ul>
  <div class="text battleElement infoButton" id="conditionButton">状態確認</div>
   <div class="text battleElement infoButton" id="battleLog">バトルログ</div>
   <!--
	<div class="text battleElement" id="setting">設定</div>
-->
   
   <div class="text battleElement" id="goTitle">タイトルに戻る</div>
   
   <img class="image" id="messageWindow" th:src="@{/images/メッセージウィンドウ.png}">
   <div class="text" id="messageText"></div>
   
   <div class="text" id="monsterBeat"></div>
   <div class="text" id="bonusResult"></div>
   <div class="text" id="expResult"></div>
   <div class="text" id="levelUp"></div>
   
   <!--ステータス変化-->
  <div class="text battleElement" id="boostPercent"></div>
  <div class="text battleElement" id="playerDamage"></div>
  <div class="text battleElement" id="playerTensionUp"></div>
  <div class="text battleElement" id="playerGoldGet"></div>
  
  <canvas class="battleElement" id="boostGauge" width="100px" height="25px"></canvas>
  
  <!--プレイヤーステータス-->
  <div class="text playerStatus battleElement" id="LV"></div>
  <div class="text playerStatus battleElement" id="HP"></div>
  <div class="text battleElement" id="maxHP"></div>
  <div class="text playerStatus battleElement" id="ATK"></div>
  <div class="text battleElement" id="weaponATK"></div>
  <div class="text playerStatus battleElement" id="weapon">武器:</div>
  <div class="text battleElement infoButton" id="weaponName"></div>
  <div class="text playerStatus battleElement" id="subWeapon">融合:</div>
  <div class="text battleElement" id="subWeaponName"></div>
  <div class="text playerStatus battleElement" id="tension"></div>
  <div class="text playerStatus battleElement" id="EXP"></div>
  <div class="text playerStatus battleElement" id="Gold"></div>
  <!--アイテム-->
  <ul class="text list battleElement" id="itemList"></ul>
  <canvas id="itemListBlack"></canvas>
  <div class="text" id="itemSwitch">▶︎</div>
  
  <div id="cockatrice"></div>
	
  <!--コマンド-->
  <div id="commandButton">
    <div class="text commands battleElement" id="attack">攻撃</div>
    <div class="text commands battleElement" id="weekAttack">手加減</div>
    <div class="text commands battleElement" id="criticalAttack"></div>
    <div class="text commands battleElement" id="defence">防御</div>
    <div class="text commands battleElement" id="tameru">ためる</div>
    <div class="text commands battleElement" id="boost">ブースト</div>
  </div>
  <!--モンスターステータス-->
  <ul class="text list" id="monsterStatusList"></ul>
   <!--- モンスター画像 -->
   <ul class="list" id="monsterImageList"></ul>
   <ul class="text list" id="conditionMessage"></ul>
  <!--- <div id="monsterImages"><img class="image" id="monster" th:src="${monster_Image}"> </div>-->   

  <!--
  製作者→<a href="https://x.com/FFF_SPL">@FFF_SPL</a>-->
  
  <!--画面-->
  <div id ="shop" th:insert="~{shop :: shopContent}"></div>
  <div id ="info" th:insert="~{infoPage :: infoContent}"></div>
  <div id ="log" th:insert="~{battleLog :: logContent}"></div>
  <div id ="dataBase" th:insert="~{dataBase :: dataBaseContent}"></div>
  <div id ="debug" th:insert="~{debug :: debugContent}"></div>
  <div id ="changeDataBase" th:insert="~{changeDataBase :: changeContent}"></div>
  <script th:src="@{/js/setting.js}"></script>
  <script th:src="@{/js/title.js}"></script>
  <script th:src="@{/js/battle.js}"></script>
  <script th:src="@{/js/itemcommand.js}"></script>
  <script th:src="@{/js/shop.js}"></script>
  <script th:src="@{/js/info.js}"></script>
  <script th:src="@{/js/componentEvent.js}"></script>
  <script th:src="@{/js/conditionConfirm.js}"></script>
  <script th:src="@{/js/battleLog.js}"></script>
  <script th:src="@{/js/mouseClick.js}"></script>
  <script th:src="@{/js/dataBase.js}"></script>
  <script th:src="@{/js/changeTable.js}"></script>
  <script th:src="@{/js/debug.js}"></script>
</body>

</html>