@charset "UTF-8";
#info{
	visibility: hidden;
	position: absolute;
	width: 427px;
	height: 300px;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}
#closeInfo{
	font-size: 20px;
	color:yellow;
/*	opacity: 0.5; /* 50%の透明度 */
}
.infoLink{
	color:yellow;
}
.infoText{
	position: absolute;
	width: max-content;
	/*
	flex-wrap: wrap;
	display: flex;
	gap: 0px; /* 要素間の間隔 */
}