@charset "UTF-8";* {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
    user-select: none;

}

#title {
    position: relative;
	outline:5px solid green;
}

#battle {
	outline:5px solid green;
    position: absolute;
    visibility: hidden;
}
.battleElement{
	visibility: hidden;
}
.difficultyButton {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: none;
}

.difficultyButton:hover {
    filter: brightness(70%);
    transition: all 0.1s ease;
}
.list{
	list-style-type: none; /* リストの点を非表示 */
}
li:focus {
            outline: 3px solid red;
        }
		/*
element.style.outlineWidth = '3px';
element.style.outlineStyle = 'solid';
element.style.outlineColor = 'red';*/
#monster,#effect{
	visibility: hidden;
    position: absolute;
    width: 205px;
    height: 205px;
    object-fit: none;
	/*transition: all 0.3s ease;*/
}

.text {
    line-height: 1;
    position: absolute;
    font-family: 'MPゴシック';
    /* フォントの種類 */
    font-weight: bold;
    /* 太字 */
}
.playerStatus,#maxHP,#weaponATK {
    font-size: 22px;
    /* 文字サイズ */
    color: white;
    /* 文字色 */
}
#weaponName{
	font-size: 22px;
	color:yellow;
}
#subWeapon {
    font-size: 18px;
    /* 文字サイズ */
    color: white;
    /* 文字色 */
}
#subWeaponName{
	font-size: 18px;
	color:yellow;
}
.commands {
    font-size: 23px;
    /* 文字サイズ */
    color: white;
    /* 文字色 */
}

#attack,
#weekAttack,
#defence,
#tameru {
    width: 69px;
}
#acriticalAttack {
    width: 120px;
}

.monsterStatus {
    font-size: 19px;
}

#monsterHP,
#monsterATK,
#monsterEXP,
#monsterGold {
    color: white;
}
#difficulty,#floor,#sumTurn,#sumEXP{
	font-size: 19px;
	color: white;
}

#monsterName,#conditionButton,#messageLog,#setting,#goTitle{
	font-size: 19px;
	color:yellow;
}
#overHP,
#monsterTurn {
    color: #ff7f27;
    /* 255,127,39 */
}
#boostGauge{
	outline:2px solid white;
	position: absolute;
}
#boostPercent{
	font-size: 25px;
	color: yellow;
	position: absolute;
}
#itemList{
	color: white;
	position: absolute;
	font-size: 24px;
	width: 201px;
	padding: 0;
	margin: 0;
}
#shop{
	visibility: hidden;
	position: absolute;
	width: 427px;
	height: 300px;
	background-color: black;
	color: white;
}


#weaponInfo{
	visibility: hidden;
	position: absolute;
	width: 427px;
	height: 300px;
	background-color: blue;
	color: white;
}
#monsterDamage{
	color: red;
	font-size: 80px;
}

